@model Activist.Domain.Concrete.EFPIssueRepository
@using Activist.Domain.Concrete;
@{
    ViewBag.Title = "Home Page";
}
<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

Hellow World!
@Html.ActionLink("Issue here", "issue");
@foreach(Issue issue in Model.Isses){
    <p>issue.Title</p>
}